body{
  background-color: #0090C1;
}



img{
  height: 300px;
  width: 300px;
}

.jumbotron{
  text-align: center;
  background-image: url('../img/header.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-color:inherit;
  color:white;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
